@import "./value.scss";

@include mobile {
  .wrap_index {
    width: 100vw;
    height: 100vh;
  }
  
  .wrap_left {
    width: 100%;
    height: 75%;
    padding-left: 50px;
  }
  .word_portfolio {
    color: #276ace;
    font-size: 100px;
  }
  
  .wrap_middle {
    display: flex;
    flex-direction: column;
    div {
      // height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 3rem;
        margin-top: 170px;
      }
      p {
        color: #276ace;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 170px;
      }
    }
    .wrap_middle_sec {
      p {
        font-size: 55px;
      }
    }
  }
  
  .wrap_right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    p {
      a {
        color: #fff;
      }
      font-size: 100px;
      font-weight: 700;
      text-align: center;
      display: block;
    }
  }
  .wrap_right_about {
    width: 100%;
    height: 40vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  //   transition: linear-gradient 1s;
  //   &:hover {
  //     background: linear-gradient(to left, #333, #999);
  //   }
  }
  .wrap_right_work {
    width: 100%;
    height: 40vh;
    background-color: #276ace;
    display: flex;
    align-items: center;
    justify-content: center;
  //   transition: linear-gradient 1s;
  //   &:hover {
  //     background: linear-gradient(to left, #276ace, #7fbaff);
  //   }
  }
  
  .index_vertical_text {
    position: absolute;
    top: 50%;
    left: 75%;
    display: block;
    transform: rotate(-90deg) translateY(-16.375rem);
    font-size: 55px;
    color: #F5F5F5;
    z-index: -1;
  }
  
  .wrap_right {
      position: relative;
      // background: #333;
      // padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border: none;
      // color: #999;
      cursor: pointer;
      outline: none;
      overflow: hidden;
    }
    .wrap_right_text {
      z-index: 1;
    }
    
    .wrap_right span {
      position: relative;
    }
    
    .wrap_right::before {
      --size: 0;
      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, #fff, transparent);
      transform: translate(-50%, -50%);
      transition: width 0.2s ease, height 0.2s ease;
    }
    
    .wrap_right:hover::before {
      --size: 200px;
    }
}

@include tablet {
  .wrap_index {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  
  .wrap_left {
    width: 50%;
    height: 100%;
    margin-left: 100px;
  }
  .word_portfolio {
    color: #276ace;
    font-size: 100px;
  }
  
  .wrap_middle {
    display: flex;
    flex-direction: column;
    div {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 3rem;
        margin-top: 170px;
      }
      p {
        color: #276ace;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 170px;
      }
    }
    .wrap_middle_sec {
      p {
        font-size: 4rem;
      }
    }
  }
  
  .wrap_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    p {
      a {
        color: #fff;
      }
      font-size: 100px;
      font-weight: 700;
      text-align: center;
      display: block;
    }
  }
  .wrap_right_about {
    width: 100%;
    height: 50vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  //   transition: linear-gradient 1s;
  //   &:hover {
  //     background: linear-gradient(to left, #333, #999);
  //   }
  }
  .wrap_right_work {
    width: 100%;
    height: 50vh;
    background-color: #276ace;
    display: flex;
    align-items: center;
    justify-content: center;
  //   transition: linear-gradient 1s;
  //   &:hover {
  //     background: linear-gradient(to left, #276ace, #7fbaff);
  //   }
  }
  
  .index_vertical_text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: rotate(-90deg) translateY(-16.375rem);
    font-size: 100px;
    color: #F5F5F5;
    z-index: -1;
  }
  
  .wrap_right {
      position: relative;
      // background: #333;
      // padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border: none;
      // color: #999;
      cursor: pointer;
      outline: none;
      overflow: hidden;
    }
    .wrap_right_text {
      z-index: 1;
    }
    
    .wrap_right span {
      position: relative;
    }
    
    .wrap_right::before {
      --size: 0;
      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, #fff, transparent);
      transform: translate(-50%, -50%);
      transition: width 0.2s ease, height 0.2s ease;
    }
    
    .wrap_right:hover::before {
      --size: 200px;
    }
}

@include desktop {
  .wrap_index {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  
  .wrap_left {
    width: 50%;
    height: 100%;
    margin-left: 100px;
  }
  .word_portfolio {
    color: #276ace;
    font-size: 100px;
  }
  
  .wrap_middle {
    display: flex;
    flex-direction: column;
    div {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 3rem;
        margin-top: 170px;
      }
      p {
        color: #276ace;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 170px;
      }
    }
    .wrap_middle_sec {
      p {
        font-size: 100px;
      }
    }
  }
  
  .wrap_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    p {
      a {
        color: #fff;
      }
      font-size: 100px;
      font-weight: 700;
      text-align: center;
      display: block;
    }
  }
  .wrap_right_about {
    width: 100%;
    height: 50vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  //   transition: linear-gradient 1s;
  //   &:hover {
  //     background: linear-gradient(to left, #333, #999);
  //   }
  }
  .wrap_right_work {
    width: 100%;
    height: 50vh;
    background-color: #276ace;
    display: flex;
    align-items: center;
    justify-content: center;
  //   transition: linear-gradient 1s;
  //   &:hover {
  //     background: linear-gradient(to left, #276ace, #7fbaff);
  //   }
  }
  
  .index_vertical_text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: rotate(-90deg) translateY(-16.375rem);
    font-size: 100px;
    color: #F5F5F5;
    z-index: -1;
  }
  
  .wrap_right {
      position: relative;
      // background: #333;
      // padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border: none;
      // color: #999;
      cursor: pointer;
      outline: none;
      overflow: hidden;
    }
    .wrap_right_text {
      z-index: 1;
    }
    
    .wrap_right span {
      position: relative;
    }
    
    .wrap_right::before {
      --size: 0;
      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, #fff, transparent);
      transform: translate(-50%, -50%);
      transition: width 0.2s ease, height 0.2s ease;
    }
    
    .wrap_right:hover::before {
      --size: 200px;
    }
}

